body {
	font-family: 'Titillium Web', sans-serif;
	color: #403e3a;
	min-width: 300px;
}

#mainNavbar {
	font-size: 1.5rem;
	font-weight: 100;
}

#mainNavbar .nav-link {
	color: #064872;
}

#mainNavbar .nav-link:hover {
	color: #fbaf31;
}